<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= appName %></title>
	<meta name="author" content="<%= author %>">
	<link rel="stylesheet" href="<%= path %>/styles.css">
	<link rel="stylesheet" href="<%= path %>/highlight.css">
	<script src="<%= path %>/highlight.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
	<div class="header">
		<div class="site">
			<h1><%= appName %> <small>(v<%= version %>)</small></h1>
			<blockquote>Not yet another Javascript library</blockquote>
		</div>
	</div>

	<div class="wrapper">
		<div class="site">
			<div class="wikistyle">
				<% if (innerPage === true) { %>
					<p><a href="../../../index.html"><i class="icon-left-open"></i>BACK</a></p>
				<% } %>
				<%= document %>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="site">
<pre style="font-size:8px;">
   _     ______                    _   _       _
  (_)   |  ____|                  | | (_)     | |
   _ ___| |__   ___ ___  ___ _ __ | |_ _  __ _| |___
  | / __|  __| / __/ __|/ _ \ '_ \| __| |/ _` | / __|
  | \__ \ |____\__ \__ \  __/ | | | |_| | (_| | \__ \
  | |___/______|___/___/\___|_| |_|\__|_|\__,_|_|___/
 _/ |
|__/
</pre>

<pre style="font-size:13px;">
@version <%= version %>
@description <%= description %>
@author <%= author %>
@homepage <%= homepage %>
@repository <%= repository %>
@license <%= license %>
</pre>
			<p><a href="CHANGELOG.html">CHANGELOG</a></p>
		</div>
	</div>


	<script>
		console.log("=================================================================");
		console.log("   _     ______                    _   _       _");
		console.log("  (_)   |  ____|                  | | (_)     | |");
		console.log("   _ ___| |__   ___ ___  ___ _ __ | |_ _  __ _| |___");
		console.log("  | / __|  __| / __/ __|/ _ \\ '_ \\| __| |/ _` | / __|");
		console.log("  | \\__ \\ |____\\__ \\__ \\  __/ | | | |_| | (_| | \\__ \\");
		console.log("  | |___/______|___/___/\\___|_| |_|\\__|_|\\__,_|_|___/");
		console.log(" _/ |");
		console.log("|__/");
		console.log("@version <%= version %>");
		console.log("@description <%= description %>");
		console.log("@author <%= author %>");
		console.log("@homepage <%= homepage %>");
		console.log("@repository <%= repository %>");
		console.log("@license <%= license %>");
		console.log("=================================================================");
	</script>
</body>
</html>
